<div class="main">
    <h1>Quick Typer</h1>
    <app-details
      [elapsedSeconds]="elapsedSeconds$ | async"
      [score]="score$ | async">
    </app-details>
    <app-text
      [text]="text$ | async"
      [typingState]="typingState$ | async"
      (typingComplete)="endGame($event)">
    </app-text>
    <app-input (inputChange)="onInputChange($event)"
      [isGameStarted]="isGameStarted$ | async">
    </app-input>
    <app-controls [isGameStarted]="isGameStarted$ | async"
      (start)="startGame($event)"
      (stop)="endGame($event)">
    </app-controls>
</div>
