<div class="main">
    <h1>Quick Typer</h1>
    <app-details
      [gameTimeInSeconds]="gameTimeInSeconds"
      [elapsedSeconds]="elapsedSeconds$ | async"
      [score]="score$ | async">
    </app-details>
    <app-text
      [typingState]="typingState$ | async"
    ></app-text>
    <app-input (inputChange)="onInputChange($event)"
      [isGameStarted]="isGameStarted$ | async">
    </app-input>
    <app-controls [isGameStarted]="isGameStarted$ | async"
      (start)="startGame($event)"
      (stop)="stopGame($event)"
    ></app-controls>
</div>
